* {
    --bg-color: #FFF;
    --secondary-bg-color: #FAFAFA;
    --jaune: #E9BE58;
    --rose: #E8B29F;
    --beige: #DFCEC4;
    --bleu: #ADD7D8;
    --rouge: #DD7551;
    --jaunepale: #F0DAA6;
    --marron: #BEA190;
    --terracotta: #934E36;
    family-font: 'Montserrat'; 
  }
